name: Build

on: [workflow_dispatch]

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}

jobs:

  Archiving:
    runs-on: ubuntu-latest
    needs: [buildAndroidAPK, buildAndroidAAB]
    steps:
    
      - uses: actions/checkout@v2
      
      - uses: actions/download-artifact@v2
        with:
             name: build-Android
             path: ${{ github.workspace }}/build/Android
             
      - uses: vimtor/action-zip@v1
        with:
            files: build-Android
            dest: project_folder/${{ secrets.APP_NAME }}.zip
            
      #- uses: geekyeggo/delete-artifact@v1
        #with:
            #name: |
               # ${{ secrets.APP_NAME }}.apk
               # ${{ secrets.APP_NAME }}.aab
                
      - uses: actions/upload-artifact@v1
        with:
           name: ${{ secrets.APP_NAME }}
           path: ${{ github.workspace }}/project_folder/${{ secrets.APP_NAME }}.zip
           
  #SendTelegramNotify:
    #runs-on: ubuntu-latest
    #needs: Archiving
    #name: Send Telegram Notify
    
    #steps: 
      #- uses: actions/checkout@v2
      
      #- uses: actions/download-artifact@v2
        #id: download
        #with:
            #name: ${{ secrets.APP_NAME }}
            #path: ${{ github.workspace }}/project_folder
            
      #- name: send telegram message
        #uses: appleboy/telegram-action@master
        #with:
              #to: ${{ secrets.TELEGRAM_ID }}
              #token: ${{ secrets.TELEGRAM_TOKEN }}
              #message: " "
              #document: '${{ github.workspace }}/project_folder/${{ secrets.APP_NAME }}.zip'
              
      #- uses: geekyeggo/delete-artifact@v1
        #with:
            #name: ${{ secrets.APP_NAME }}
      

  buildAndroidAPK:
    name: Build for Android(APK)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - Android
    steps:
    
      - name: Checkout
        uses: actions/checkout@v2.4.2
          
      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-
          
      - uses: game-ci/unity-builder@v2.0.4
        with:
          androidAppBundle: false
          androidKeystoreName: user.keystore
          androidKeystoreBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          androidKeystorePass: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          androidKeyaliasName: ${{ secrets.ANDROID_KEYALIAS_NAME }}
          androidKeyaliasPass: ${{ secrets.ANDROID_KEYALIAS_PASS }}
          targetPlatform: ${{ matrix.targetPlatform }}
          
      - uses: actions/upload-artifact@v2
        with:
          name: build-Android
          path: build/Android
          
  buildAndroidAAB:
    name: Build for Android(AAB)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - Android
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.2
          
      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-
          
      - uses: game-ci/unity-builder@v2.0.4
        with:
          androidAppBundle: true
          androidKeystoreName: user.keystore
          androidKeystoreBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          androidKeystorePass: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          androidKeyaliasName: ${{ secrets.ANDROID_KEYALIAS_NAME }}
          androidKeyaliasPass: ${{ secrets.ANDROID_KEYALIAS_PASS }}
          targetPlatform: ${{ matrix.targetPlatform }}
          
      - uses: actions/upload-artifact@v2
        with:
          name: build-Android
          path: build/Android
